@media screen and (max-width: 834px) {

    .quote-button {
        display: none;
    }

    .nav-links {
        position: static;
        display: none;
        width: auto;
        padding: 0;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 80px;
        align-items: center;
        left: 0;
        width: 100%;
        padding: 10px;
        /* opacity: 1; */
        background-color: #333333eb;
        z-index: 1;
    }

    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .nav-links{
        top: 51px;
    }

    .contact-container{
        display: none;
    }

}